/* HERO SECTION */
.hero--button {
    font-weight: 700;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: .2rem;
    margin-right: .3rem;
    font-size: .8rem;
    cursor: pointer;
}

.hero--button i {
    margin-right: .5rem;
}

.play {
    background-color: var(--white);
    color: var(--black-background);
}

.play:hover {
    background-color: var(--white-btn-hover);
}

.info {
    background-color: var(--gray-btn);
    color: var(--white);
}

.info:hover {
    background-color: var(--gray-btn-hover);
}


/* FOOTER */
.service-code-button {
    display: none;
}


/* RESPONSIVIDADE */
/* TABLETS */
@media (min-width:480px) and (max-width:799px) {

    /* CAROUSEL */
    .carousel-button b {
        color: var(--white);
        transition: all 0.1s;
        opacity: .7;
        align-self: center;
    }

    .prev {
        left: -2px;
    }

    .next {
        right: 0;
    }

    /* FOOTER */
    .service-code-button {
        display: block;
        padding: .4rem .4rem;
        background-color: transparent;
        color: var(--gray);
        border: solid .09rem var(--gray);
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    .service-code-button:hover {
        color: var(--white);
        cursor: pointer;
    }
}

/* DESKTOP */
@media (min-width:800px) and (max-width:1200px) {

    /* CAROUSEL */
    .carousel-button b {
        color: var(--white);
        transition: all 0.1s;
        opacity: .7;
        align-self: center;
    }

    .prev {
        left: -2px;
    }

    .next {
        right: 0;
    }

    /* FOOTER */
    .service-code-button {
        display: block;
        padding: .4rem .4rem;
        background-color: transparent;
        color: var(--gray);
        border: solid .09rem var(--gray);
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    .service-code-button:hover {
        color: var(--white);
        cursor: pointer;
    }
}