.hero {
    padding: 4rem;
}

.hero--logo {
    width: 60vh;
    margin-bottom: 1rem;
}

.hero--description {
    width: 60vh;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}